In [19]:
import os
import sys
from logging import DEBUG
from pathlib import Path

from dotenv import load_dotenv

from yfpy import Data
from yfpy.logger import get_logger

import pandas as pd

import json

### Environment variables

In [20]:
project_dir = os.path.abspath('..')

In [21]:
if not sys.path[0] == project_dir:
    sys.path.insert(0, str(project_dir))

In [22]:
load_dotenv(dotenv_path=f"{project_dir}/auth/.env")

True

### Set directories

In [23]:
auth_dir = f"{project_dir}/auth"

In [24]:
data_dir = f"{project_dir}/data"

In [25]:
yfpy_data_dir = f"{project_dir}/output"

In [26]:
data = Data(yfpy_data_dir)

### Load and Create Common Data

In [27]:
with open(f'{project_dir}/output/league_ids.json') as f:
    league_ids = json.load(f)

In [28]:
game_keys = data.load('game_keys')

In [29]:
game_keys_list = []
for game in game_keys:
    entry = {'season': game.season, 'code': game.game_id}
    game_keys_list.append(entry)

In [30]:
game_keys_df = pd.DataFrame(game_keys_list)

In [31]:
game_keys_df = game_keys_df[game_keys_df['season'] > 2014]

In [32]:
game_keys_df

    season  code
16    2015   348
17    2016   359
18    2017   371
19    2018   380
20    2019   390
21    2020   399
22    2021   406
23    2022   414
24    2023   423