In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact

In [9]:
loc = "../../data/matchup_player_data/"

In [10]:
df = pd.read_csv(loc+'2018_weekly_roster_stats.csv')

In [11]:
df.shape

(210, 51)

In [11]:
df.columns

Index(['QB', 'QB_player_key', 'QB_points', 'WR1', 'WR1_player_key',
       'WR1_points', 'WR2', 'WR2_player_key', 'WR2_points', 'RB1',
       'RB1_player_key', 'RB1_points', 'RB2', 'RB2_player_key', 'RB2_points',
       'TE', 'TE_player_key', 'TE_points', 'W/R/T', 'W/R/T_player_key',
       'W/R/T_points', 'BN1', 'BN1_player_key', 'BN1_points', 'BN2',
       'BN2_player_key', 'BN2_points', 'BN3', 'BN3_player_key', 'BN3_points',
       'BN4', 'BN4_player_key', 'BN4_points', 'K', 'K_player_key', 'K_points',
       'DEF', 'DEF_player_key', 'DEF_points', 'BN5', 'BN5_player_key',
       'BN5_points', 'BN6', 'BN6_points', 'team_name', 'manager', 'week',
       'BN6_player_key', 'BN7', 'BN7_player_key', 'BN7_points'],
      dtype='object')

In [14]:
position_columns = ['QB',
                   'WR1',
                   'WR2',
                   'RB1',
                   'RB2',
                   'TE',
                   'W/R/T'
                   ]
points_columns = [ x + '_points' for x in position_columns]

In [17]:
df.groupby('manager')['QB_points'].describe()

         count       mean        std    min    25%    50%    75%    max
manager
Buddy     15.0  19.385333  11.181902   5.92   8.41  17.62  29.71  39.54
Eric      15.0  16.657333   6.810210   2.10  12.96  16.36  21.04  27.54
Frags     15.0  19.958667   6.823658   4.74  15.34  21.30  24.72  28.60
Jake      15.0  20.778667   8.849518   7.64  14.07  19.48  27.75  38.16
Jones     15.0  18.954667   4.991063  11.92  15.18  18.16  21.12  28.40
Kyle      15.0  23.454667   7.694943   9.04  18.45  21.86  29.10  35.92
Lauren    15.0  16.804000   5.853308   0.84  13.86  17.84  20.88  23.64
Michael   15.0  14.322667   9.969914  -1.30   8.09  12.34  19.68  35.12
Nate      15.0  17.960000  12.201115   4.70   7.35  13.16  26.85  43.46
Nick      15.0  18.214667   6.255500   8.08  13.80  21.36  22.49  27.96
Pat       15.0  18.249333   5.359056   7.98  16.28  18.50  21.28  26.24
Peter     15.0  19.860000   8.234957   6.92  14.87  20.06  22.31  36.98
Ricky     15.0  17.884000   5.441487   8.04  15.12  17.52  20.72  28.70
Tim       15.0  18.346667   8.760550   3.28  10.95  20.00  23.68  31.10

In [20]:
df[df['QB_points'] == df['QB_points'].min()]

,QB,QB_player_key,QB_points,WR1,WR1_player_key,WR1_points,WR2,WR2_player_key,WR2_points,RB1,...,BN5_points,BN6,BN6_points,team_name,manager,week,BN6_player_key,BN7,BN7_player_key,BN7_points
191,Jared Goff,380.p.29235,-1.3,Julio Jones,380.p.24793,28.6,Brandin Cooks,380.p.27548,4.2,Lamar Miller,...,8.0,NaN,NaN,Thug Bungalow,Michael,14,NaN,NaN,NaN,NaN

In [20]:
names = ['John', 'Mike', 'Susan']
count = [i for i,v in enumerate(names)]

In [29]:
test_df = df[(df['manager'] == 'Michael')][['QB', 'QB_points']]

In [30]:
test_df.reset_index(inplace=True, drop=True)

In [32]:
test_df[test_df['QB'] == 'Jared Goff'].index

Index([4, 5, 6, 7, 8, 9, 10, 12, 13, 14], dtype='int64')

In [ ]:
test_df[test_df['']]

In [73]:
@interact

def position_points_explorer(manager = df['manager'].unique(), pos = position_columns):
    league_average = df[pos+'_points'].mean()
    filtered_df = df[(df['manager'] == manager)][[pos, pos+'_points']]
    filtered_df.reset_index(inplace=True)
    label_colors = [(0.0, 0.286, 0.572),
(0.0, 0.619, 0.450),
(0.6, 0.8, 0.196),
(1.0, 0.6, 0.6),
(1.0, 0.8, 0.0),
(1.0, 0.6, 0.0),
(0.901, 0.098, 0.294),
(0.6, 0.0, 0.6),
(1.0, 0.4, 1.0),
(1.0, 0.8, 0.6),
(0.6, 0.4, 0.2),
(0.588, 0.588, 0.588),
(0.4, 0.6, 0.8),
(0.6, 0.8, 1.0),
(0.8, 0.6, 1.0)]
    color_index = 0
    weeks = range(1, len(filtered_df.index) + 1)
    plt.figure(figsize=(10,8))
    plt.hlines(league_average, 0, weeks[-1],linestyles='dotted', color='r', alpha = 0.5, label = 'League Average')
    for player in filtered_df[pos].unique():
        weeks_played = filtered_df[filtered_df[pos] == player].index
        plt.scatter(x = weeks_played, y = filtered_df[filtered_df[pos] == player][pos+'_points'], label = player, color=label_colors[color_index], s=75)
        plt.vlines(x = weeks_played,
                   ymin = league_average,
                   ymax= filtered_df[filtered_df[pos] == player][pos+'_points'],
                  colors = label_colors[color_index])
        color_index+=1
    
    plt.grid(visible=True, axis='y', alpha=0.3)
    plt.title(f"{pos} position for {manager}, 2018 Season")
    plt.xlabel('Week', size=12)
    plt.ylabel('Points Scored')
    plt.legend()
    plt.show()

interactive(children=(Dropdown(description='manager', options=('Ricky', 'Pat', 'Tim', 'Eric', 'Jones', 'Lauren…