In [8]:
%run common_data_setup.ipynb

In [49]:
%run utils.ipynb

In [9]:
from yfpy import Data
from yfpy.logger import get_logger
from yfpy.query import YahooFantasySportsQuery

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import json

In [12]:
league_ids

{'2015': 853925,
 '2016': 810238,
 '2017': 192551,
 '2018': 799346,
 '2019': 820083,
 '2020': 394682,
 '2021': 364325,
 '2022': 564704,
 '2023': 333146}

In [14]:
game_keys_df

    season  code
16    2015   348
17    2016   359
18    2017   371
19    2018   380
20    2019   390
21    2020   399
22    2021   406
23    2022   414
24    2023   423

In [84]:
yahoo_query = YahooFantasySportsQuery(
    auth_dir,
    league_id=333146,
    game_code='nfl',
    game_id=423
)
teams = yahoo_query.get_league_teams()
team_ids_list = []
for team in teams:
    manager = team.managers[0].nickname
    id = team.team_id
    info = {'manager_nickname': manager, 'id': id}
    team_ids_list.append(info)
team_ids_df = pd.DataFrame(team_ids_list)

In [85]:
season_matchups_2023_df = generate_season_matchup_data(yahoo_query,team_ids_df['id'])

Generating season matchup data for team ID 1
Generating season matchup data for team ID 2
Generating season matchup data for team ID 3
Generating season matchup data for team ID 4
Generating season matchup data for team ID 5
Generating season matchup data for team ID 6
Generating season matchup data for team ID 7
Generating season matchup data for team ID 8
Generating season matchup data for team ID 9
Generating season matchup data for team ID 10
Generating season matchup data for team ID 11
Generating season matchup data for team ID 12
Generating season matchup data for team ID 13
Generating season matchup data for team ID 14

In [86]:
closed_season_dfs = [ season_matchups_2015_df, season_matchups_2016_df, season_matchups_2017_df,
      season_matchups_2018_df, season_matchups_2019_df, season_matchups_2020_df,
      season_matchups_2021_df, season_matchups_2022_df]

In [87]:
to_date_dfs = [ season_matchups_2015_df, season_matchups_2016_df, season_matchups_2017_df,
      season_matchups_2018_df, season_matchups_2019_df, season_matchups_2020_df,
      season_matchups_2021_df, season_matchups_2022_df, season_matchups_2023_df]

In [99]:
to_date_seasons_df = pd.concat(to_date_dfs,ignore_index=True)

In [100]:
to_date_seasons_df.to_csv('to_date_seasons_raw.csv', index=False)

In [47]:
season_matchups_2022_df = pd.DataFrame(all_season_results)

In [48]:
season_matchups_2022_df

,week,team_name,season_id,nickname,opponent_team_name,opponent_season_id,opponent_nickname,projected_points_for,points_for,projected_points_against,points_against
0,1,b'The Ice Cold Bruschi',1,--hidden--,b'Immortal Duffmen',2,--hidden--,118.13,86.76,113.27,137.28
1,2,b'The Ice Cold Bruschi',1,--hidden--,"b""Jadeveon's Hit Men""",3,--hidden--,114.13,93.84,118.10,130.60
2,3,b'The Ice Cold Bruschi',1,--hidden--,b'Thug Bungalow',11,--hidden--,117.47,129.90,115.91,103.16
3,4,b'The Ice Cold Bruschi',1,--hidden--,b'Thunder Crotches',12,--hidden--,113.29,98.32,109.03,103.20
4,5,b'The Ice Cold Bruschi',1,--hidden--,b'Starr is Born',6,--hidden--,107.05,144.14,105.15,113.68
...,...,...,...,...,...,...,...,...,...,...,...
219,12,b'who invited canada',14,--hidden--,"b""We're Back""",13,--hidden--,120.37,107.50,114.17,92.90
220,13,b'who invited canada',14,--hidden--,b'The Ice Cold Bruschi',1,--hidden--,118.39,126.86,104.28,106.60
221,14,b'who invited canada',14,--hidden--,b'The fishingtons',8,--hidden--,106.21,117.00,123.83,110.56
222,16,b'who invited canada',14,--hidden--,"b""We're Back""",13,--hidden--,114.58,135.56,111.95,76.86
223,17,b'who invited canada',14,--hidden--,"b""John Brown's Army""",4,--hidden--,120.93,83.10,122.24,143.90